@import '../../variables';
.card-image {
    position: relative;
    img {
        box-shadow: $boxShadow;
        width: 100%;
        height: 100%;
        border-top-left-radius: $defaultBorderRadius;
        border-top-right-radius: $defaultBorderRadius;
    }
}

.portfolio-item {
    display: flex;
    width: 40%;
    position: relative;
    margin: 64px 0;
    h3 {
        color: $darkTextColor;
    }
    .portfolio-item-info,
    .portfolio-item-image {
        flex: 1;
        display: inline;
    }
    .portfolio-item-image {
        >img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    &:after {
        content: '';
        width: 70%;
        height: 2px;
        background: $rum;
        position: absolute;
        bottom: -64px;
        text-align: center;
    }
}

.card {
    h2,
    h3 {
        text-align: right;
    }
    button {
        float: right;
    }
    background-color: $lightBackgroundColor;
    box-shadow: $boxShadow;
    color: $darkTextColor;
    min-height: fit-content;
    height: 50%;
    padding: 0;
    position: relative;
    margin: 32px 16px;
    border-radius: $defaultBorderRadius;
    width: 100%;
    .card-content {
        padding: 0 32px 16px 32px;
    }
}