$pampas: #F3F1EF;
$shipCove: #7E98C2;
$purpleHeart: #9827BD;
$rum: #837092;
$ebonyClay: #212332;
$viridianGreen: #628773;
$redDamask: #df773b;
$pomegranate: #f44336;
$darkPrimary: $ebonyClay;
$lightPrimary: $pampas;

$primaryBrandingColor: $purpleHeart;
$lightAccent: $shipCove;
$darkAccent: $rum;
$warningColor: $redDamask;
$errorColor: $pomegranate;
$boxShadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$navBoxShadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$defaultBorderRadius: 8px;

$darkBackgroundColor: $darkPrimary;
$lightBackgroundColor: $lightPrimary;
$lightTextColor: $pampas;
$darkTextColor: $darkPrimary;
$headingColor: $primaryBrandingColor;
$linkColor: $primaryBrandingColor;
$primaryButtonBackgroundColor: $primaryBrandingColor;